---
import { SITE } from 'astrowind:config';
---

<div class="flex flex-col ml-2 rtl:ml-0 rtl:mr-2">
  <span class="text-xl md:text-2xl font-bold text-blue-600 dark:text-blue-500 leading-tight">
    {SITE?.name}
  </span>
  <span class="text-xs text-gray-600 dark:text-gray-400 italic">
    Protection for the Eyes
  </span>
</div>
